<div class="background-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(<%= cl_image_path("dwdvl5wlt6xordeib8dv") %>)">
  <div class="container">
    <div class="cocktails container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= link_to cocktail_path(cocktail) do%>
              <div class="card" style="background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.5)), url(<%= cl_image_path(cocktail.photo) %>)">
                <h3><%= cocktail.name %></h3>
                <div class="cocktail-list hidden">
                  <ul>
                    <% cocktail.doses[0..2].each do |dose| %>
                      <li><%= dose.description %> <%= dose.ingredient.name %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
